streamlit
pillow
numpy
cv2
io
glob
torch
torch.nn
torchvision.transforms
torchvision.models
torchvision.datasets
sklearn.svm
sklearn.metrics
matplotlib.pyplot
seaborn
torchsummary
sklearn.decomposition
pandas
sklearn.manifold
sklearn.metrics
sklearn.model_selection
matplotlib.lines
mpl_toolkits.mplot3d
sklearn.model_selection
sklearn.datasets
sklearn.preprocessing
joblib
base64
streamlit_option_menu
streamlit.components.v1
hydralit_components
